.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 0px 12px 12px;
  margin: 12px;
  cursor: pointer;
}

.close:before,
.close:after {
  position: absolute;
  left: 5px;
  content: " ";
  height: 16px;
  width: 1.3px;
  background-color: #1f1f5c;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
  cursor: pointer;
}

@media all and (max-width: 448px) {
  .close {
    top: 24px;
    right: 24px;
  }
}
