.InfoMessage {
  background: #faebe9;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.InfoMessage[class~="Secondary"] {
  font-weight: 500;
  background-color: white;
  color: #4646c7;
  border: 1px solid var(--color-support-warning);
}

.InfoMessage span {
  padding: 0 0 0 15px;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-support-warning);
}
